*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.index-header{
    height: 101vh;
    width: 100%;
    background-image: linear-gradient(
  40deg,
  hsl(0deg 0% 49%) 0%,
  hsl(195deg 1% 48%) 22%,
  hsl(195deg 2% 46%) 29%,
  hsl(195deg 3% 45%) 33%,
  hsl(195deg 5% 43%) 35%,
  hsl(195deg 6% 41%) 37%,
  hsl(195deg 7% 40%) 38%,
  hsl(195deg 9% 38%) 39%,
  hsl(195deg 11% 37%) 40%,
  hsl(195deg 13% 35%) 41%,
  hsl(195deg 15% 33%) 43%,
  hsl(195deg 17% 32%) 45%,
  hsl(194deg 20% 30%) 49%,
  hsl(194deg 23% 29%) 54%,
  hsl(194deg 26% 27%) 64%,
  hsl(194deg 30% 25%) 99%
);
}
.logo{
    display: flex;
  }
  img{
    margin-left: 1rem;
   mix-blend-mode: multiply;
  }
  .heading{
    margin-top: 1.7rem;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(88, 49, 49, 0.5);
    margin-left: 1rem;
  }
  main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
   .para{
    color: #fff;
    text-align: center;
   }
    .para>button{
    margin: 1.4rem;
    background-color: #fff;
   }
   .para>button:hover{
    background-color: transparent;
   } 


   ::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-track{
    background-color: grey;
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: brown;
  }
  #outer {
    position: relative;
    left: 46%;
    height: 4px;
    border-radius: 10px;
  }
  #inner {
    position: absolute;
    width: 10px;
    height: 4px;
    background-color: green;
    animation: myanimation 2s cubic-bezier(0.72, 0.03, 1, 1) infinite;
  }
  @keyframes myanimation{
  
  0% {
      -webkit-transform: translateX(0%);
      margin-left: 0px;
      width: 10px;
  }
  50% {
    -webkit-transform: translateX(0%);
    margin-left: 152px;
    width: 60px;
  }
  100% {
    -webkit-transform: translateX(50%);
    margin-left: -40px;
    width: 40px;
  }
  }

  .container{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  h1,h2,h3,h4{
    font-family:'Lexand-Deca',sans-serif;
  }
 
  h2{
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(88, 49, 49, 0.5);
    color: #fff;
  
  
  }
  p{
    font-size: 1.6rem;
    letter-spacing: 0.08rem;
  }
  nav a{
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    margin-right: 8rem;
  }
  ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-top: 1.4rem;
  }
  button{
    border: 0.01rem solid #fff;
    outline: none;
    padding: 0.6rem 1.2rem;
    font-size: 1.7rem;
    cursor: pointer;
  }
  button:hover{
    background-color: transparent;
    color: #000;
    border: 0.01rem solid #000;
  }
  @media (max-width:780px){
 #outer{
  display: none;
 }
 #inner{
  display: none;
 }
 .para{
  margin-bottom: 5rem;;
 }
  }
  @media (max-width:450px){
    nav a{
      margin-right: 3rem;
    }
  }